<div class="nav">
    <div class="w">
        <div class="user-info">
            <span class="user not-login">
                <span class="link js-login">Login</span>
                <span class="link js-register">Register</span>
            </span>
            <span class="user login">
                <span class="link-text">

                    Welcome,
                    <span class="username"></span>
                </span>
                <span class="link">Exit</span>
                </span>

            </span>

        </div>

    </div>

</div>


