/*
* @Author: MengZhang
* @Date:   2019-04-22 21:52:08
* @Last Modified by:   MengZhang
* @Last Modified time: 2019-04-22 22:00:00
*/

.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
}